@{
    Layout = null;
    ViewBag.Title = "Time Entry";
}


@model Kendo_deail_grid.Models.TimeEntery.TimeDetailModel
<script src="@Url.Content("~/Scripts/Kendo/kendo.all.min.js")"  ></script>
<script src="@Url.Content("~/Scripts/Controls/KendoControlHelper.js")" type="text/javascript"></script>
<script type="text/javascript" src='@Url.Content("~/Scripts/Controls/Sage.CRE.Cloud.Website.TimeEntry.Helper.js")'></script>
<script type="text/javascript" src='@Url.Content("~/Scripts/Controls/Sage.TimeEntryGrid.js")'></script>
<script type="text/javascript" src='@Url.Content("~/Scripts/Controls/EnterTime.js")'></script>

<script type="text/javascript">
    @Html.ConvertToJsVariable("timeDetailModel", Model);
    var dummyWidget = new SageWidget(null);
</script>

<div class="controls ui-helper-clearfix">
    <h2>sadds</h2>
</div>


<div id="gridArea" >
</div>





<div id="notesWindow" class="ui-helper-hidden">
    <div>
        <p><textarea id="entryNotes" class="messageBox_vsmall mgn5-b"></textarea></p>
    </div>
</div>